* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


section{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-self: stretch;
}

.presentation{
    padding: 4em;
    align-items: flex-start;
    gap: 2em;
    height: 100vh;

}

.container{
    display: flex;
    align-items: center;
    gap: 4em;
    align-self: stretch;
    height: 100%;
    flex-direction: row;
}

.image-container {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 75%;
    height: 100%;
    object-fit: cover;
}

.artist{
    padding: 4em;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

nav{
    width: 100%;
}

.navigation{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 1em;
    align-self: stretch;
}

.menu{
    display: flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}

.menu a{
    color: #FF68B3;
    font-family: Quicksand;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.menu a:hover{
    color: #FF68B3;

    font-family: Quicksand;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-color: #FF68B3;

    text-decoration-thickness: 0.3em; 
    text-underline-offset: 0.3em; 
    text-underline-position: from-font;
    text-transform: uppercase;
}

.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    flex: 1 0 0;
    align-self: stretch;
}

.text-section h1{
    align-self: stretch;
    color: #000;
    font-family: Quicksand;
    font-size: 8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.text-section p{
    color: #000;
    font-family: 'Quicksand';
    justify-content: center;
    font-size: 2em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.the_artist{
    display: flex;
    min-height: 100vh;
    padding: 4em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    align-self: stretch;
    background: #FF68B3;
}

.the_artist p{
    color: #000;
    font-family: 'Quicksand';
    font-size: 2em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

h2{
    color: #000;
    font-family: Quicksand;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.the_story{
    display: flex;
    min-height: 100vh;
    height: 100vh;
    padding: 2em 0px;
    align-items: center;
    gap: 3em;
    align-self: stretch;
}


.swiper {
    height: 100%;
    max-width: 100vw;
}

.swiper-wrapper{
    padding: 0 64px;
}

.swiper-slide{
    width: auto;
    padding-right: 128px;
    align-self: stretch;
    display: flex !important;
    flex-direction: row;
    gap: 1em;
}

.swiper-slide-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.swiper-slide-img img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5em;
}

.swiper-slide-text{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3em;
}

.swiper-button-next, .swiper-button-prev {
    color: #FF68B3 !important;
} 

.swiper-slide-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    align-self: stretch;
    
}

.title{
    color: #FF68B3;;
    font-family: Quicksand;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle{
    color: #000;
    font-family: Quicksand;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-slide-description{
    color: #000;
    font-family: Quicksand;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.the-work-title{
    display: flex;
    padding: 2em 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #FF68B3;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 64px;
}

.gallery-column{
    flex: 25%;
    max-width: 25%;
    padding: 0 0.5em;
}

.gallery-card{
    display: flex;
    padding-bottom: 2em;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    align-self: stretch;
}

.gallery-card img{
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
    border-radius: 0.5em;
}

.gallery-card span{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 0.75em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

footer{
    display: flex;
    padding: 4em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #000;
    gap:1em;
}

footer p{
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}
footer a{
    color: #FF68B3;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media (max-width: 1024px) { /* Se aplică pe ecrane mai mici de 768px */
    .swiper-slide {
        flex-direction: column; /* Pune imaginea deasupra și textul dedesubt */
        align-items: center; /* Aliniază conținutul central */
        gap: 1.5em; /* Ajustează distanța dintre ele */
    }

    .swiper-slide-img{
        width: auto;
        height: 70%;
        justify-content: center;
    }
    .swiper-slide-text {
        width: 100%;
        justify-content: start;
    }

    .swiper-slide-img img {
        max-width: 80%;
        height: auto;
    }

    .container{
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }

    .image-container img{
        object-fit: contain;
        height: auto;
    } 

    .presentation{
        padding:2em;
        align-items: center;
    }

    .the_artist p {
        font-size: 1.5em;
    }

    .menu{
        padding: 0.25em;
    }

    .menu a {
        font-size: 1em;
    }

    .menu a:hover{
        font-size: 1em;
        text-decoration-thickness: 0.2em; 
        text-underline-offset: 0.2em; 
    }

    .text-section h1{
        font-size: 4em;
    }

    .text-section p{
        font-size: 1.5em;
    }

    h2{
        font-size: 2.5em;
    }

    .title{
        font-size: 1.5em;
    }


}

@media screen and (max-width: 1024px) {
    .gallery-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  

@media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }

    .text-section h1 {
        font-size: 2.5em;
    }

    .text-section p, .the_artist p, .subtitle, .title{
        font-size: 1.25em;
    }

    .swiper-slide-description {
        font-size: 1em;
    }
  }
